@model IEnumerable<OkulSistem.Models.StudentsCourse>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetStudentCourses</title>
    <link rel="stylesheet" href="~/CSS/GetStudentCourses.css" />

</head>
<body>
   
    <h1>Seçilen Dersler</h1>


    <table class="table table-bordered">
        <thead class="tbhead">
            <tr>

                <th>Kurs ID</th>
                <th>Kurs Adı</th>
                <th>Kredi</th>

                
            </tr>
        </thead>
        <tbody class="tbbody">
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.Course?.CourseID</td>
                    <td>@course.Course?.CourseName</td>
                    <td>@course.Course?.Credits</td>
                    
                </tr>
            }
        </tbody>
    </table>
    <div style="margin-top: 10px;">
        <a href="/Menu/OgrenciMenu" class="btn btn-secondary">Ana Sayfaya Dön</a>
    </div>
</body>
</html>
