@model OkulSistem.Models.Instructor
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/CSS/GirisYap.css" />
    <title>Giriş Yap</title>
   
</head>
<body>
    <div class="login-container">
        <h1>Giriş Yap</h1>
        <p>Giriş tipi seçin</p>

        <form method="post" action="/Login/GirisYap">
            <div class="role-selection">
                
                <label class="role-option">
                    <input type="radio" name="role" value="Student" required>
                    <img src="/images/student.png"  alt="Öğrenci">
                    
                </label>

               
                <label class="role-option">
                    <input type="radio" name="role" value="Instructor" required>
                    <img src="/images/instructor.png"  alt="Öğretim Görevlisi">
                   
                </label>
            </div>

            <input type="text" name="Email" class="input-field" placeholder="E-posta" required>
            <input type="password" name="Password" class="input-field" placeholder="Şifre" required>

            <button type="submit" class="btn">Giriş Yap</button>
        </form>

        <div class="error-message">
            @if (ViewBag.ErrorMessage != null)
            {
                <p>@ViewBag.ErrorMessage</p>
            }
        </div>
    </div>
</body>
</html>


