
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmDeleteStudent</title>
    <link href="~/CSS/ConfirmDeleteStudent.css" rel="stylesheet" />
</head>
<body>
    <h1>Öğrenci Silme Onayı</h1>
    <div class="onay">
    <p>Bu öğrenciyi silmek istediğinize emin misiniz?</p>
	</div>
    <div class="bilgi">
     <p>
        Öğrenci: <strong>@TempData["StudentName"]</strong><br />
        ID: <strong>@TempData["StudentID"]</strong>
     </p>
	</div>
    <form method="post" asp-action="ConfirmDeleteStudent" asp-controller="Instructor">
        <input type="hidden" name="id" value="@TempData["StudentID"]" />
        <button type="submit" class="btn btn-danger">Evet, Sil</button>
        <a href="/DeleteStudent" class="btn btn-secondary">Hayır, Vazgeç</a>
    </form>
</body>
</html>
