
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Öğrenci Sil</title>


   

</head>
<body>
    <h1>Öğrenci Sil</h1>
    <form method="post" asp-action="DeleteStudent" asp-controller="Instructor">
        <label for="id">Öğrenci ID:</label>
        <input type="text" id="id" name="id" placeholder="Öğrenci ID giriniz" required />
        <button type="submit">Sil</button>
    </form>
    <div style="margin-top: 10px;">
        <div style="margin-top: 10px;">
            <a href="/Home/Index" class="btn btn-secondary">Ana Sayfaya Dön</a>
        </div>
    </div>

    @if (TempData["Error"] != null)
    {
        <p style="color: red;">@TempData["Error"]</p>
    }

    @if (TempData["Success"] != null)
    {
        <p style="color: green;">@TempData["Success"]</p>
    }
</body>
</html>