@model IEnumerable<dynamic>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DersimiAlanOgrenciler</title>
</head>
<body>
    <h2>Öğrencilerin Almış Oldukları Dersler</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Öğrenci Adı</th>
                <th>Ders Adı</th>
                <th>Ders Kredisi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.StudentName</td>
                    <td>@student.CourseName</td>
                    <td>@student.CourseCredit</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="margin-top: 10px;">
        <a href="/Menu/OgrenciMenu" class="btn btn-secondary">Ana Sayfaya Dön</a>
    </div>
</body>
</html>
